<div style="float:right;">
    <div *ngFor="let movieTheatre of movieTheatres" class="flip-card">
        <div class= "flip-card-inner">
            <div class="flip-card-front">
                <h1>{{movieTheatre.name}}</h1>
               
                <h5>{{movieTheatre.id}}</h5>
                <hr>
                <p>{{movieTheatre.capacity}} seats</p>                
                
                
                <div *ngIf="movieTheatre.currentMovie">
                    <h3 style="text-align: left;">Movies:</h3>
                    <p *ngFor="let movie of getMovies(movieTheatre)" style="text-align: left;">{{movie}}</p>
                
                    <p>Currently Showing : {{movieTheatre.currentMovie}}</p>   
                </div>
            </div>   
       
            <div class="flip-card-back">
                <h3>Update</h3> 
                <hr>
                <table>
                    
                    <h5>Id: {{movieTheatre.id}}</h5>
                    
                    <tr style="float: left;"> Name: <input  type="text" maxlength="15" [(ngModel)]="movieTheatre.name"></tr>
               
                    <tr style="float: left;">Capacity : 
                        <select [(ngModel)]="movieTheatre.capacity" style="width: 50px">
                            <option *ngFor="let capacity of movieCapacities" [value]="capacity">{{capacity}}</option>
                        </select>
                    </tr>
                    
                    <tr>
                        <ul style="float: left;"> Movies:
                            <li *ngFor="let movie of getMovies(movieTheatre); let i=index;">{{movie}}</li>
                        </ul>
                    </tr>
                
                    <tr><button style="background-color: darkseagreen; padding: 5px;"(click)="update(movieTheatre)">Update</button></tr>

                </table>
                
                <div *ngIf="showSuccessMessage" style="background-color:greenyellow;">{{movieTheatreSuccessMessage}}</div>
            </div>
        </div>
    </div>
</div>


<div style="float: left;"> 
    <a href="javascript:void(0);" (click)="goBack()">Back to Dashboard</a>
</div>