<div *ngIf="tickets.length>0" style="float: right;">

    <h3>Ticket Details:</h3>
    
    <div *ngFor ="let ticket of tickets " class="flip-card">
       <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>{{ticket.movieName}}</h3>({{ticket.movieSlot}})
                <p>No.of seats : {{ticket.numOfSeatsBooked}}</p>
                <p>Date : {{ticket.date}}</p>
            </div>
           <div class="flip-card-back">
                <p>TicketId : {{ticket.id}}</p>
          </div>
       </div>

     
    </div>
</div>

<div *ngIf="tickets.length==0">
    <h3 style="text-align: center;">No tickets!</h3>
</div>

<span style="float: right;"> 
    <a href="javascript:void(0);" (click)="goBack()">Back to Dashboard</a>
</span>
