body {
    font-family: Arial, Helvetica, sans-serif;
  }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 50px;
    float: left;
    background-color: #9aa3f3;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 30px 50px;
  }